{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: skyblue;">
    <div class="container d-flex justify-content-between">
      <!-- Логотип и название -->
      <a class="navbar-brand d-flex align-items-center" href="{% url 'orders:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        <span class="ms-2 fw-bold">Сервис управления заказами</span>
      </a>
      <!-- Пример дополнительных ссылок, которые можно добавить -->
      <div>
        <a href="{% url 'orders:index' %}" class="btn btn-outline-dark ms-3">Главная</a>
        {% comment %} <a href="{% url 'orders:create' %}" class="btn btn-outline-dark ms-3">Создать заказ</a> {% endcomment %}
      </div>
    </div>
  </nav>
</header>
