{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: skyblue;">
    <div class="container d-flex justify-content-between">
      <!-- Логотип и название -->
      <a class="navbar-brand d-flex align-items-center" href="{% url 'orders:index' %}">
        <span class="ms-2 fw-bold">Сервис управления заказами</span>
      </a>
      <!-- Пример дополнительных ссылок, которые можно добавить -->
      <div>
        <a href="{% url 'orders:index' %}" class="btn btn-outline-dark ms-3">Главная</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-outline-dark ms-3">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
              <rect x="10" y="4" width="4" height="16" fill="black"/>
              <rect x="4" y="10" width="16" height="4" fill="black"/>
          </svg>
          Создать заказ
      </a>
      </div>
    </div>
  </nav>
</header>
 