{% extends "base.html" %}
{% block title %}

  Заказ №{{ order.id }}
{% endblock %}
{% block content %}

<div class="col d-flex justify-content-center">
  
  <div class="card shadow-lg rounded-3" style="width: 40rem;">
    <div class="card-body">
      
      <!-- Заголовок с ID заказа и статусом -->
      <small class="text-muted d-block text-end">
        Изменить статус заказа
      </small>
      <h4 class="card-title d-flex justify-content-between">
        <!-- Ссылка на детали заказа -->
        <a href="{% url 'orders:order_detail' order.id %}" class="fw-bold text-decoration-none">
          Заказ №{{ order.id }}
        </a>
        
        <!-- Статус заказа с кнопкой для изменения -->
         
        <button type="button" class="btn 
          {% if order.status == 'Waiting' %}bg-warning{% elif order.status == 'Ready' %}btn-success{% elif order.status == 'Paid' %}btn-primary{% endif %}
          ms-auto fw-bold text-uppercase text-white" 
          data-bs-toggle="modal" data-bs-target="#statusModal">
          
          {{ order.get_status_display }}
        </button>
        
        
      </h4>
      <h5 class="text-center text-muted">Стол №{{ order.table_number }}</h5>
      <hr>
      


      <!-- Список блюд -->
      <ul class="list-group list-group-flush">
        {% for item in order.order_items.all %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <span class="fw-semibold">{{ item.dish.name }}</span>
            </div>
            
      
          <span class="fw-bold">
            <small class="text-muted">{{ item.dish.price|floatformat:2 }} руб. × </small>
            {{ item.quantity }} шт.
          </span>
          </li>
        {% endfor %}
      </ul>

      <!-- Общая стоимость -->
      <div class="text-end mt-3">
        <h5 class="fw-bold">Итого: {{ order.total_price|floatformat:2 }} руб.</h5>
      </div>
      
    </div>
    <div class="ml-3 mb-2">
      <a class="btn btn-sm text-danger" href="{% url 'orders:order_delete' order.id %}" role="button">
        Удалить заказ
      </a>
    </div>
    
  </div>
  
</div>


<!-- Модальное окно для выбора нового статуса -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusModalLabel">Выберите новый статус</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Форма для выбора статуса -->
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="status">Выберите статус:</label>
            <select name="status" id="status" class="form-control">
              <option value="Waiting" {% if order.status == 'Waiting' %}selected{% endif %}>Ожидает</option>
              <option value="Ready" {% if order.status == 'Ready' %}selected{% endif %}>Готов</option>
              <option value="Paid" {% if order.status == 'Paid' %}selected{% endif %}>Оплачен</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <button type="submit" class="btn btn-primary">Изменить статус</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 d-flex justify-content-start ms-5">
  <a href="{% url 'orders:index' %}" class="btn btn-outline-dark">Назад к ленте заказов</a>
</div>
{% endblock %}
